body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre.tab {
  letter-spacing: 0;
  line-height: 1;
  margin: 0.1rem 0 1.5rem;
}

pre.riff-order {
  letter-spacing: 0;
  margin: 0;
  white-space: pre-wrap;
}

pre.riff-label {
  letter-spacing: 0;
  margin: 0;
}

pre.rendered-riff {
  letter-spacing: 0;
  line-height: 1;
  white-space: pre-wrap;
}
